.main-page{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(160px,1fr));
    grid-column-gap: 16px;
    grid-row-gap:15px;
}

.card{
    border-radius: 5px;
    flex-direction: column;
}

.card > img {
    width: 100%;
    height:130px;
    border-radius: 10px;
}

.card > h2{
    margin-top: 4px;
    font-size: 0.6rem;
    padding:1.5px;
}

.card > h3{
    font-size: 0.55rem;
    color: #555;
    padding:1px;
}

.card > p{
    font-size: 0.55rem;
    color:#555;
    padding:1.5px;
} 