.suggested-page{
    padding:0 12px 0 0;
    display: flex;
    flex-direction: column
}

.suggested{
    margin-bottom: 10px;
    display: flex;
}

.suggested > img{
    width:100px;
    padding: 0;
    border-radius: 10px;
}

.suggested > div{
    margin-top:4.5px;
    margin-left: 4.5px;
}

.heading{
    font-weight:500;
}

.suggested > div > p{
font-size: 0.65rem;;
}

.sug-channel-name{
    margin-top:2.5px;
    color:#484848;
}

.views-count{
    margin-top: 2.5px;
    color:#5e5e5e;
}

@media (max-width:800px){
    .suggested{
        display: none;
    }
}